# Exercise 02. Preprocessing

In [11]:
import pandas as pd

## Download and read the CSV file, making `ID` the index column

In [12]:
df = pd.read_csv('../data/auto.csv', index_col="ID")

## Count the number of observations using the method `count()`

In [13]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Drop the duplicates, taking into account only the following columns: `CarNumber`, `Make_n_Model`, and `Fines`

In [14]:
df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last', inplace=True)
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Work with missing values

In [15]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [16]:
df.dropna(axis='columns', thresh=500, inplace=True)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [17]:
df['Refund'] = df['Refund'].ffill()
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [18]:
mean = df['Fines'].mean()
df['Fines'] = df['Fines'].fillna(value=mean)
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Split and parse the make and model

In [19]:
df['Make'] = df['Make_n_model'].apply(func=lambda x: x.split()[0])
df['Model'] = df['Make_n_model'].apply(func=lambda x: x.split()[1] if len(x.split()) == 2 else None)
df.drop('Make_n_model', axis='columns', inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

In [20]:
df.to_json('../data/auto.json', orient='records', double_precision=1)