# Exercise 05. Pandas optimizations

In [278]:
import pandas as pd
import gc

## Read the `fines.csv` file that you saved in the previous exercise

In [279]:
df = pd.read_csv('../data/fines.csv')
df

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925      A000AA50       1  3000.0  Toyota  Camry  2007
926      B111BB50       2  4000.0  Toyota  Camry  2007
927      C222CC50       1  5000.0  Toyota  Camry  2007
928      X999XX50       2  6000.0  Toyota  Camry  2007
929      A123BC50       1  7000.0  Toyota  Camry  2007

[930 rows x 6 columns]

## Iterations: in all the following subtasks, you need to calculate `fines/refund*year` for each row. Create a new column with the calculated data. Measure the time using the magic command `%%timeit` in the cell

In [280]:
def using_loop(df):
    res = []
    for i in range(0, len(df)):
        res.append(df.iloc[i]['Fines'] / df.iloc[i]['Refund'] * df.iloc[i]['Year'])
    return res
df['Calculation'] = using_loop(df)
df

        CarNumber  Refund   Fines    Make  Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   12967500.0
2     7184TT36RUS       1  2100.0    Ford  Focus  1984    4166400.0
3    X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
4    92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
..            ...     ...     ...     ...    ...   ...          ...
925      A000AA50       1  3000.0  Toyota  Camry  2007    6021000.0
926      B111BB50       2  4000.0  Toyota  Camry  2007    4014000.0
927      C222CC50       1  5000.0  Toyota  Camry  2007   10035000.0
928      X999XX50       2  6000.0  Toyota  Camry  2007    6021000.0
929      A123BC50       1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 7 columns]

In [281]:
%%timeit
df['Calculation'] = using_loop(df)
df

143 ms ± 30.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [282]:
def using_itterrows(df):
    res = []
    for _, row in df.iterrows():
        res.append(row['Fines'] / row['Refund'] * row['Year'])
    return res
df['Calculation'] = using_itterrows(df)
df

        CarNumber  Refund   Fines    Make  Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   12967500.0
2     7184TT36RUS       1  2100.0    Ford  Focus  1984    4166400.0
3    X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
4    92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
..            ...     ...     ...     ...    ...   ...          ...
925      A000AA50       1  3000.0  Toyota  Camry  2007    6021000.0
926      B111BB50       2  4000.0  Toyota  Camry  2007    4014000.0
927      C222CC50       1  5000.0  Toyota  Camry  2007   10035000.0
928      X999XX50       2  6000.0  Toyota  Camry  2007    6021000.0
929      A123BC50       1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 7 columns]

In [283]:
%%timeit
df['Calculation'] = using_itterrows(df)
df

47.9 ms ± 11.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [284]:
df['Calculation'] = df.apply(func=lambda row: row['Fines'] / row['Refund'] * row['Year'] , axis='columns')
df

        CarNumber  Refund   Fines    Make  Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   12967500.0
2     7184TT36RUS       1  2100.0    Ford  Focus  1984    4166400.0
3    X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
4    92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
..            ...     ...     ...     ...    ...   ...          ...
925      A000AA50       1  3000.0  Toyota  Camry  2007    6021000.0
926      B111BB50       2  4000.0  Toyota  Camry  2007    4014000.0
927      C222CC50       1  5000.0  Toyota  Camry  2007   10035000.0
928      X999XX50       2  6000.0  Toyota  Camry  2007    6021000.0
929      A123BC50       1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 7 columns]

In [285]:
%%timeit
df['Calculation'] = df.apply(func=lambda row: row['Fines'] / row['Refund'] * row['Year'] , axis='columns')
df

9.87 ms ± 1.07 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [286]:
df['Calculation'] = df['Fines'] / df['Refund'] * df['Year']
df

        CarNumber  Refund   Fines    Make  Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   12967500.0
2     7184TT36RUS       1  2100.0    Ford  Focus  1984    4166400.0
3    X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
4    92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
..            ...     ...     ...     ...    ...   ...          ...
925      A000AA50       1  3000.0  Toyota  Camry  2007    6021000.0
926      B111BB50       2  4000.0  Toyota  Camry  2007    4014000.0
927      C222CC50       1  5000.0  Toyota  Camry  2007   10035000.0
928      X999XX50       2  6000.0  Toyota  Camry  2007    6021000.0
929      A123BC50       1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 7 columns]

In [287]:
%%timeit
df['Calculation'] = df['Fines'] / df['Refund'] * df['Year']
df

230 μs ± 22.5 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [288]:
df['Calculation'] = df['Fines'].values / df['Refund'].values * df['Year'].values
df

        CarNumber  Refund   Fines    Make  Model  Year  Calculation
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995   12967500.0
2     7184TT36RUS       1  2100.0    Ford  Focus  1984    4166400.0
3    X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
4    92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
..            ...     ...     ...     ...    ...   ...          ...
925      A000AA50       1  3000.0  Toyota  Camry  2007    6021000.0
926      B111BB50       2  4000.0  Toyota  Camry  2007    4014000.0
927      C222CC50       1  5000.0  Toyota  Camry  2007   10035000.0
928      X999XX50       2  6000.0  Toyota  Camry  2007    6021000.0
929      A123BC50       1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 7 columns]

In [289]:
%%timeit
df['Calculation'] = df['Fines'].values / df['Refund'].values * df['Year'].values
df

105 μs ± 5.73 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## Indexing: measure the time using the magic command `%%timeit` in the cell

In [290]:
%%timeit
df.loc[df['CarNumber'] == 'O136HO197RUS']

339 μs ± 74.1 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [291]:
df.set_index('CarNumber', inplace=True)
df

              Refund   Fines    Make  Model  Year  Calculation
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
E432XX77RUS        1  6500.0  Toyota  Camry  1995   12967500.0
7184TT36RUS        1  2100.0    Ford  Focus  1984    4166400.0
X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
...              ...     ...     ...    ...   ...          ...
A000AA50           1  3000.0  Toyota  Camry  2007    6021000.0
B111BB50           2  4000.0  Toyota  Camry  2007    4014000.0
C222CC50           1  5000.0  Toyota  Camry  2007   10035000.0
X999XX50           2  6000.0  Toyota  Camry  2007    6021000.0
A123BC50           1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 6 columns]

In [292]:
%%timeit
df.loc[df.index == 'O136HO197RUS']

237 μs ± 39 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

## Downcasting

In [293]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to A123BC50
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int64
 1   Fines        930 non-null    float64
 2   Make         930 non-null    object
 3   Model        919 non-null    object
 4   Year         930 non-null    int64
 5   Calculation  930 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 182.0 KB

In [294]:
optimized = df.copy()
optimized

              Refund   Fines    Make  Model  Year  Calculation
CarNumber
Y163O8161RUS       2  3200.0    Ford  Focus  1989    3182400.0
E432XX77RUS        1  6500.0  Toyota  Camry  1995   12967500.0
7184TT36RUS        1  2100.0    Ford  Focus  1984    4166400.0
X582HE161RUS       2  2000.0    Ford  Focus  2015    2015000.0
92918M178RUS       1  5700.0    Ford  Focus  2014   11479800.0
...              ...     ...     ...    ...   ...          ...
A000AA50           1  3000.0  Toyota  Camry  2007    6021000.0
B111BB50           2  4000.0  Toyota  Camry  2007    4014000.0
C222CC50           1  5000.0  Toyota  Camry  2007   10035000.0
X999XX50           2  6000.0  Toyota  Camry  2007    6021000.0
A123BC50           1  7000.0  Toyota  Camry  2007   14049000.0

[930 rows x 6 columns]

In [295]:
optimized['Fines'] = pd.to_numeric(optimized['Fines'], downcast='float')
optimized['Refund'] = pd.to_numeric(optimized['Refund'], downcast='integer')
optimized['Year'] = pd.to_numeric(optimized['Year'], downcast='integer')

optimized['Calculation'] = optimized['Calculation'].astype('float32')

optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to A123BC50
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int8
 1   Fines        930 non-null    float32
 2   Make         930 non-null    object
 3   Model        919 non-null    object
 4   Year         930 non-null    int16
 5   Calculation  930 non-null    float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 162.9 KB

## Categories

In [296]:
optimized['Make'] = optimized['Make'].astype('category')
optimized['Model'] = optimized['Model'].astype('category')

optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to A123BC50
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Refund       930 non-null    int8
 1   Fines        930 non-null    float32
 2   Make         930 non-null    category
 3   Model        919 non-null    category
 4   Year         930 non-null    int16
 5   Calculation  930 non-null    float32
dtypes: category(2), float32(2), int16(1), int8(1)
memory usage: 68.5 KB

## Memory clean

In [297]:
%whos

Variable          Type         Data/Info
----------------------------------------
df                DataFrame    Shape: (930, 6)
gc                module       <module 'gc' (built-in)>
optimized         DataFrame    Shape: (930, 6)
pd                module       <module 'pandas' from '/r<...>ages/pandas/__init__.py'>
using_itterrows   function     <function using_itterrows at 0x7f9b45675e40>
using_loop        function     <function using_loop at 0x7f9b45675760>

In [298]:
%reset_selective -f df

In [299]:
gc.collect()

3

In [300]:
%whos

Variable          Type         Data/Info
----------------------------------------
gc                module       <module 'gc' (built-in)>
optimized         DataFrame    Shape: (930, 6)
pd                module       <module 'pandas' from '/r<...>ages/pandas/__init__.py'>
using_itterrows   function     <function using_itterrows at 0x7f9b45675e40>
using_loop        function     <function using_loop at 0x7f9b45675760>