# Exercise 00. Load and save

In [1]:
import pandas as pd

## `read_csv`

In [9]:
df = pd.read_csv('../data/feed-views.log', skiprows=[2, 3], skipfooter=2,
                  names=['datetime', 'user'], index_col='datetime', engine='python', sep='\t')
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [10]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## rename `datetime` to `date_time`

In [11]:
df.index.names = ['date_time']
df.head()

                              user
date_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

## `to_csv`

In [ ]:
filepath = '../data/feed-views-semicolon.log'
df.to_csv(filepath, sep=';')

with open(filepath, 'r') as file:
    for _ in range(5):
        print(file.readline().strip())

date_time;user
2020-04-17 12:01:08.463179;artem
2020-04-17 12:01:23.743946;artem
2020-04-17 12:35:52.735016;artem
2020-04-17 12:36:21.401412;oksana